.chat-warp{
    width: 100%;
    min-height: 100vh;
    background: pink;
    .chat-list-warp{
        width: 100%;
        // height: ;
        padding: 30px;
        .item-room{
            width: 200px;
            height: 200px;
            border: 2px solid black;
            float: left;
            margin: 10px;
            text-align: center;
            line-height: 200px;
        }
    }
}