.room-warp {
  // width: 100%;
  // min-height: 100vh;
  // background: #f7f7f7;

  .buff-scroll {
    height: 100vh;
    // height: 80%;
    // height: 1006px;
    // background: #f7f7f7;
    background: pink;
    //   padding-bottom: calc(env(safe-area-inset-bottom));
    padding-bottom: 100px;
    .message {
      width: 100%;
      margin-bottom: 20px;
      padding-top: 10px;
      display: flex;
      flex-direction: row-reverse;
      .msg-text {
        max-width: 200px;
        min-width: 50px;
        text-align: left;
        padding: 20px;
        margin-right: 30px;
        font-size: 25px;
        word-wrap: break-word;
        border-radius: 8px;
        background: #83f055;
      }
      .msg-img {
        // background: cyan;
        width: 80px;
        height: 80px;
        margin-right: 10px;
        text-align: center;
        line-height: 80px;
        border-radius: 10px;
        image {
          width: 100%;
          height: 100%;
        }
      }
    }
    .other-message {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .msg-img {
        width: 80px;
        height: 80px;
        // background: red;
        text-align: center;
        line-height: 80px;
        margin-left: 15px;
        border-radius: 10px;
        image {
          width: 100%;
          height: 100%;
        }
      }
      .msg-text {
        margin-left: 30px;
        background: #fff;
        min-width: 50px;
        max-width: 200px;
        font-size: 25px;
        text-align: left;
        border-radius: 8px;
        word-wrap: break-word;
        padding: 20px;
      }
    }
  }

  .features {
    width: 100%;
    height: 100px;
    background: #f7f7f7;
    position: fixed;
    bottom: 0;
    display: flex;
    //   justify-content: space-between;
    align-items: center;
    padding-bottom: calc(env(safe-area-inset-bottom) / 2);
    border-top: 1px solid pink;
    .entry-warp {
      background: #f7f7f7;
      width: 65%;
      height: 65%;
      line-height: 100px;
      margin-left: 100px;
      .input-msg {
        background: #fff;
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
    .send-warp {
      margin-left: 20px;
      .send {
        width: 60px;
        height: 60px;
      }
    }
  }
}
