.cartItem{
    width: 96%;
    height: 5.375rem;
    // background: pink;
    display: flex;
    margin: 0 .4375rem;
    margin-bottom: .625rem;
    .cartImgWarp{
        flex: 1;
        background: cyan;
        .cartImg{
            width: 100%;
            height: 100%;
            background-image: url('../../assets/tab-bar/cart.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    .cartContent{
        flex: 3;
        background: orange;
        margin: .3125rem;
        .test{
            float: right;
            // display: inline-block;
          }
          .addImg{
            width: 1.575rem;
            height: 1.575rem;
            background-image: url('../../assets/static/add.png');
            background-size: 100%;
            background-repeat: no-repeat;
          }
          .reduceImg{
            width: 1.575rem;
            height: 1.575rem;
            background-image: url('../../assets/static/reduce.png');
            background-size: 100%;
            background-repeat: no-repeat;
          }
          .itemNum{
            margin: 0 .5125rem;
          }
    }
}