.home-warp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .search-warp {
    flex: 1;
    .search {
      margin: 0 20rpx; // 10px
      border-radius: 0.9375rem; // 15
    }
    .search::-webkit-input-placeholder {
      color: white;
    }
    .search:-moz-placeholder {
      color: white;
    }
    .search:-ms-input-placeholder {
      color: white;
    }
  }
  .content-warp {
    flex: 12;
    display: flex;
    width: 100%;
    height: 100%;

    .type {
      flex: 2;
      border-right: 2rpx solid #cacaca;
      text-align: center;
      height: 100%;
      overflow-y: auto;
    }

    .type-detail {
      flex: 9;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      // padding: .3125rem;
      .every-last {
        width: 100%;
        height: 160rpx; // 80px
        display: flex;
        flex-direction: row;
        margin-bottom: 10rpx;
        border-bottom: 2rpx solid #e6e6e6;
        // padding: 2rpx;

        .every-img {
          flex: 2;
          .img {
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }

        .every-title {
          flex: 4;
          // background: seagreen;

          .title {
            margin: 10rpx;
            display: flex;
            flex-direction: column;
            view {
              flex: 1;
            }
            .addPic {
              .test {
                float: right;
              }
              .addImg {
                width: 50rpx;
                height: 50rpx;
                background-image: url("../../assets/static/add.png");
                background-size: 100%;
                background-repeat: no-repeat;
              }
              .reduceImg {
                width: 50rpx;
                height: 50rpx;
                background-image: url("../../assets/static/reduce.png");
                background-size: 100%;
                background-repeat: no-repeat;
              }
              .itemNum {
                margin: 0 16rpx;
              }
            }
          }
        }
      }
    }
  }
}
.active{
  border-right: .0625rem solid red;
}
