.home-warp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;

  .search-warp {
    flex: 1;
    .search {
      margin: 0 20rpx; // 10px
      border-radius: 0.9375rem; // 15
    }
    .search::-webkit-input-placeholder {
      color: white;
    }
    .search:-moz-placeholder {
      color: white;
    }
    .search:-ms-input-placeholder {
      color: white;
    }
  }
  .content-warp {
    flex: 12;
    display: flex;
    width: 100%;
    height: 100%;

    .type {
      flex: 2;
      // border-right: 2rpx solid #cacaca;
      text-align: center;
      height: 100%;
      overflow-y: auto;
    }

    .type-detail {
      flex: 9;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      .at-load-more{
        height: auto;
      }
      // padding: .3125rem;
      .every-last {
        width: 90%;
        height: 160px; // 80px
        display: flex;
        flex-direction: row;
        border: 2px solid #e6e6e6;
        margin: 20px auto;
        border-radius: 10px;

        .every-img {
          flex: 2;
          .img {
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }

        .every-title {
          flex: 4;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .title {
            margin: 10rpx;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            .testTitle {
              width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            view {
              flex: 1;
            }
            .addPic {
              .test {
                float: right;
              }
              .addImg {
                width: 50rpx;
                height: 50rpx;
                background-image: url("../../assets/static/add.png");
                background-size: 100%;
                background-repeat: no-repeat;
                margin-right: 20px;
              }
              .reduceImg {
                width: 50rpx;
                height: 50rpx;
                background-image: url("../../assets/static/reduce.png");
                background-size: 100%;
                background-repeat: no-repeat;
              }
              .itemNum {
                margin: 0 16rpx;
              }
              .addToCart{
                width: 50rpx;
                height: 50rpx;
                background-image: url("../../assets/static/payCar.png");
                background-size: 100%;
                background-repeat: no-repeat;
                margin-right: 20px;
              }
            }
          }
        }
      }
      // .every-last::after{
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   border-right: 6px solid red;
      //   content: "";
      // }
    }
  }
  .view-cart {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: white;
    text-align: center;
    line-height: 85px;
    box-shadow: -2px -2px 20px #cacaca;
    .go-cart {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 35px;
      height: 35px;
    }
    .isHaveGood{
      
    }
  }
}
.active {
  // border-left: solid red;
  background: #ffffff !important;
  position: relative;
}
.active::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 6px solid #1890ff;
  content: "";
}

.buf_home_warpper {
  width: 100%;
  height: 100vh;
  .buf_home_search {
    width: 100%;
    height: 70px;
  }
  .buf_home_content {
    display: flex;
    width: 100%;
    height: calc(100% - 82px);
    margin-top: 12rpx;
    .buf_home_goods_type {
      flex: 2;
      height: 100%;
      overflow-y: auto;
      background: #cacaca;
    }
    .buf_home_goods_content {
      flex: 9;
      height: 100%;
    }
  }
}
