.user-warp{
    width: 100%;
    height: 100vh;
    background: #f7f7f7;
    // padding-top: 10rpx;
    .info-warp{
        width: 100%;
        height: 200rpx;
        // margin: 0 2%; // 15
        // border-radius: .375rem;
        box-shadow: 20rpx 20rpx 20rpx #f7f7f7;
        background: #00a8ff;
        color: black;
        .user-avatar{
            position: relative;
            top: 50%;
            transform: translateY(50%);
            margin-left: 40rpx;
        }
        .user-name{
            margin-left: 168rpx
        }
    }
    .userInfo-warp{
        background: #00a8ff;
        position: relative;
        .get-user-info-btn{
            height: 200px;
            color: #000;
            background: none;
            line-height: 200px;
        }
        .get-user-info-btn::after{
            border: none;
        }
        .no-info-img{
            position: absolute;
            top: 16%;
            transform: translateY(16%);
            margin-left: 60rpx;

        }

    }
    
    .order-warp{
        width: 96%;
        height: 96rpx;
        background: white;
        border-radius: .675rem;
        margin: .9375rem 2%; // 15
        line-height: 96rpx;
        box-shadow: 20rpx 20rpx 20rpx #f7f7f7;
        position: relative;

        .order-img{
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            width: 40rpx;
            height: 40rpx;
            margin-left: 22.077rpx;
            
        }
        .text{
            margin-left: 72rpx;
        }

        .arrow-right:after {
            content: "";
            position: absolute;
            top: .019rem;
            right: 4rpx;
            margin: 40rpx;
            border-right: 4rpx solid #757575;
            border-bottom: 4rpx solid #757575;
            width: 16rpx; 
            height: 16rpx;
            transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
        }
    }
}